[phases.setup]
nixPkgs = ['python312', 'stdenv.cc.cc.lib']

[phases.install]
cmds = [
    'curl -LsSf https://astral.sh/uv/install.sh | sh',
    'export PATH="/root/.local/bin:$PATH"',
    'cd /app/marmalade && uv sync',
    'cd /app/api && uv sync'
]

[start]
cmd = 'export LD_LIBRARY_PATH=/nix/var/nix/profiles/default/lib:$LD_LIBRARY_PATH && cd api && uv run hypercorn main:app --bind "[::]:$PORT"'
