[phases.setup]
nixPkgs = ['python312', 'gcc-unwrapped']

[phases.install]
cmds = [
    'curl -LsSf https://astral.sh/uv/install.sh | sh',
    'export PATH="/root/.local/bin:$PATH"',
    'cd /app/marmalade && uv sync',
    'cd /app/api && uv sync'
]

[start]
cmd = 'cd api && uv run hypercorn main:app --bind "[::]:$PORT"'
