[phases.setup]
nixPkgs = ['python312']

[phases.install]
cmds = [
    'curl -LsSf https://astral.sh/uv/install.sh | sh',
    'export PATH="/root/.cargo/bin:$PATH"',
    'cd .. && uv pip install --system -e ./marmalade',
    'cd /app && uv sync'
]

[start]
cmd = 'uv run hypercorn main:app --bind "[::]:$PORT"'
