[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.121.3",
    "hypercorn>=0.18.0",
    "tokenizers>=0.22.1",
]

[dependency-groups]
dev = [
    "ipython>=9.7.0",
    "pytest>=9.0.1",
]
